main {
    height: 80vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 2rem;
    justify-content: space-evenly;
}
h2 {
    font-size: 3rem;
    text-shadow:  1px 1px 1px #2C3E50;
    margin: 2rem;
    object-fit: contain;
}


.left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    text-align: center;
    width: 60%;
    border-radius: 10px;
    backdrop-filter:  blur(5px);
    box-shadow: 0px 0px 8px 1px;




}
.nameInput {
    width: 30%;
    height: 4rem;
    font-size: 1.5rem;
    backdrop-filter: blur(30px);
    margin-bottom: 1rem;
    background: transparent;
    border: #FFA500 3px solid;
    box-shadow: inset 0px 0px 20px 20px #2C3E50;
    border-radius: 10px;
    text-align: center;
    color: #FFA500;
}


p {
    color: white;
    margin: 1rem;
    letter-spacing: 1px;
    text-align: center;
    padding: 2rem;

    text-shadow:  2px 2px 2px black;

}
.first-para {
font-size: 2.5rem;
    font-weight: bold;
}
.btn-quiz{
    width: fit-content;
    border: 10px solid black;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 20px 0px;
    color: #FFD700;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
    margin: 1rem 1rem;
    cursor: pointer;
    font-size:  2rem;


}

.btn-quiz:hover {
    color: #FFA500;
    border: 7px solid black;
    text-shadow: 0 0 5px #FFA500;
    text-decoration: none;
    box-shadow: 0px 0px 20px 10px;

}

.right-part {
    text-align: center;
    border-radius: 10px;
    backdrop-filter:  blur(5px);
    width: 30%;
    border: 2px solid black;
    box-shadow: 14px 20px 20px 0px;
    ;

}

li {
    list-style: none;
}
