section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.left-part {
  text-align: center;
  width: 70%;
}

.right-part {
  text-align: center;
  width: 30%;

}

li {
  list-style: none;
}
