*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
header{
    position: static;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 5px solid;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px;

}
img {
    width: 100%;
}
.wow-icon{
    width: 30%;
    margin: 1rem auto;
}
body {
    margin: 1rem;
    height: 100vh;
    background-image: url('/assets/background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    font-family: 'Georgia', serif;

}
.main-title{
    text-align: center;
    align-content: center;
    text-decoration: none;
    margin: 0 auto;
    width: 100%;
    color: black;

}
h1 {
    text-align: center;
    align-items: center;
    font-size: 4rem;
    text-shadow:  0px 0px 20px #FFD700;
}
.nav-left {
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}


.nav-right {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}




/*--------------Media queries--------------------------*/

@media (max-width: 1000px) {

    h1 {
        text-align: center;
        width: 100%;
        align-items: center;
        font-size: 1rem;
        text-shadow:  0px 0px 20px #FFD700;
    }
img {
        display: none;
    width: 0%;
    }
    .nav-left {
        display: none;
    }


}

@media (max-width: 1245px) {

    img {
        width: 140%;
    }

    h1 {

        object-fit: contain;
        font-size: 3rem;
        text-shadow:  0px 0px 20px #FFD700;
    }

    .main-title{
        align-content: center;
        text-decoration: none;
        margin: 0 auto;
        width: 100%;
        color: black;

    }
    .nav-right {
        width: 25%;
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

}